*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background: #f4f4f6;
}

h1{
    color: white;
    font-size: 48px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
}


p{
    margin-top: 0;
    margin-bottom: 0;
}

/* header start */

.top-header{
    position: relative;
    border: 1px solid rgb(109, 42, 42);
    background-color: rgb(109, 42, 42);
}

.logo{
    margin-left: 335px;
    width: 50%;
}

.top-nav{
    position: absolute;
    right: 90px;
    top: 10px;
    margin-left: 250px;
    margin-top: 30px;
    width: 20%;
}

.facebook{
    margin-right: 10px;
}

.facebook-img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.twitter{
    margin-right: 10px;
}

.twitter-img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.spotify-img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-nav{
    margin-left: 340px;
}

.main-header{
    position: relative;
    height: 408px;
    color: white;
    background-color: #e77189;
}

.header-main-text{
    padding-top: 50px;
    width: 36%;
}

.header-main-nav-text{
    width: 36%;
}

.header-main-nav-text p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 140px;
  margin-top: 10px;
}

.button:hover{
    background-color: orange;
}

.header-img{
    position: absolute;
    top: 0;
    right: 60px;
    margin-right: 320px;
}
/* header end */

/* main start */

.top-main{
    position: relative;
    margin-top: 30px;
    height: 240px;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.top-main p{
    margin-bottom: 10px;
    margin-top: 10;
}

h3{
    text-align: left;
}

.download{
    position: absolute;
    width: calc(100%/3.1);
}

.chat{
    right: 33.8%;
    position: absolute;
    width: calc(100%/3.1);
}

.featured{
    position: absolute;
    right: 0;
    width: calc(100%/3.1);
}

.bottom-main{
    position: relative;
    margin-top: 30px;
    border-top: 8px solid pink;
}

.sub-and-imgs{
    margin-left: 18%;
    width: 38%;
}

.product-img{
    width: 700px;
}

.img-fluid2{
    margin-right: 60px;
    margin-bottom: 30px;

}

.reviews{
    position: absolute;
    right: 160px;
    top: 10px;
    width: calc(35%);
}

.final-sub-header{
    margin-bottom: 60px;
}

.reviews p{
    width: 60%;
    margin-bottom: 30px;
}

/* main end */

/* footer start */

.footer{
    position: relative;
    height: 90px;
    background-color: rgb(109, 42, 42);
}

.colophon{
    position: absolute;
    top: 10px;
    margin-top: 20px;
    margin-left: 330px;
    color: white;
}

.footer-nav{
    top: 10px;
    right: 210px;
    position: absolute;
    margin-left: 800px;
}